html{

    box-sizing: border-box;
}
*, *:before, *:after{

    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: black;
}
.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.nombre-sitio span{

    color: #037bc0;
}
.navegacion-principal{

   border-top: 1px solid #e1e1e1;
   padding: 20px 0;

}