html{

    box-sizing: border-box;
}
*, *:before, *:after{

    box-sizing: inherit;
}
.nombre-sitio{
    padding-top: 100px;
    padding-bottom: 100px;
}
.nombre-sitio span{

    color: #037bc0;
}
.enlace{

    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0

}