html{

    box-sizing: border-box;
}
*, *:before, *:after{

    box-sizing: inherit;
}
.contenedor{

    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: black;
}
.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.nombre-sitio span{

    color: #037bc0;
}
.contenedor-navegacion{

    border-top: 1px solid #e1e1e1;
}
.navegacion-principal{

    display: flex;
    padding: 20px 0;
    justify-content: space-between;

}
.hero{

    background-image: url(../imgs/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.categorias h2{

    text-align:center;

}
.categoria a{

    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;

}
.categoria a:hover{

    background-color: #037bc0;
    color: #fff;
    border-top-right-radius: 10px;
}
.listado-categorias{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.sobre-nosotros{

    background-image: linear-gradient(to Right, transparent 50%, #037bc0 50%, #037bc0 100%), url('../imgs/nosotros.jpg');
    background-repeat: no-repeat;
    padding: 10rem 0;
    background-position: left center;
    background-size: 100%, 120rem;
}
.sobre-nosotros-grid{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;

}

.texto-nosotros{

    grid-column: 2 / 3;
    color: #fff;

}